[flake8]
ignore = 
    E265
    E301
    E305
    E126
    E121
    E306
    E231
    E251
    F841
    F403
    W503
    E203

# Optional: Set max line length if different from default
max-line-length = 120
